<div class="container jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1>Somando no Angular!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                <button class="btn-info btn btn-block">Lanche R$5,00</button>
            </div>
            <div class="col-md-4">
                <button class="btn-info btn btn-block">Bebida R$4,00</button>
            </div>
            <div class="col-md-4">
                <button class="btn-info btn btn-block">Doce R$3,00</button>
            </div>
        </div>
    </div>
</div>